---
import Layout from "../../layouts/Layout.astro";
import Countdown from "../../components/Countdown.astro";
import SettingsModal from "../../components/SettingsModal.astro";
import schedules from "./schedules.json";
import { Icon } from "astro-icon";

const dateNow = new Date().toLocaleString("en-US", {
  timeZone: "America/New_York",
  day: "numeric",
  month: "numeric",
});

const secondsToTime = (seconds: number) => {
  const hours = Math.floor(seconds / 3600);
  const minutes = Math.floor((seconds % 3600) / 60);
  const ampm = hours >= 12 ? "pm" : "am";
  const hours12 = hours % 12 || 12;
  const minutesStr = minutes.toString().padStart(2, "0");
  return `${hours12}:${minutesStr} ${ampm}`;
};

const scheduleToday: Schedule | null =
  dateNow in schedules ? schedules[dateNow as keyof typeof schedules] : null;
---

<Layout title="PHS Web Dev Schedule">
  <script>
    import JSConfetti from "js-confetti";

    window.jsConfetti = new JSConfetti();
  </script>
  <main class="mx-auto max-w-screen-md px-2 lg:max-w-screen-lg">
    <section class="mt-8 sm:mt-16">
      <div class="flex items-center justify-between">
        <h1 class="text-4xl font-bold sm:text-5xl">PHS Schedule</h1>
        <div class="flex gap-2">
          <button
            class="rounded-md bg-neutral-800/25 p-2 shadow-md transition-all duration-200 ease-linear hover:bg-neutral-800/50"
            id="settingsModalOpenButton"
          >
            <Icon pack="mdi" name="gear" class="text-white/75 w-7 h-7" />
          </button>
        </div>
      </div>
    </section>
    <section class="mt-4 rounded-md bg-neutral-800/25 p-5 shadow-md sm:mt-8">
      <Countdown scheduleToday={scheduleToday} dateNow={dateNow} />
    </section>

    <section class="mt-4 sm:mt-8">
      {
        scheduleToday ? (
          <>
            <div>
              <div class="items-center justify-between sm:flex">
                <h1 class="text-3xl font-bold sm:text-4xl">
                  {scheduleToday.type} Schedule
                </h1>
                <h1 class="text-xl text-white/75 sm:text-4xl ">
                  {new Date().toLocaleString("en-US", {
                    timeZone: "America/New_York",
                    weekday: "long",
                    month: "long",
                    day: "numeric",
                  })}
                </h1>
              </div>
            </div>
            <div class="mt-5 rounded-md bg-neutral-800/25 p-3 shadow-md sm:p-6 ">
              {scheduleToday.periods.map(({ period, startTime, endTime }) => (
                <div class="my-2 flex items-center justify-between first:mt-0 last:mb-0 sm:my-4">
                  <h1 class="text-2xl font-bold sm:text-3xl">{period}</h1>
                  <h1 class="text-xl text-white/75 sm:text-3xl">
                    {secondsToTime(startTime)} → {secondsToTime(endTime)}
                  </h1>
                </div>
              ))}
            </div>
          </>
        ) : (
          <h1 class="text-5xl font-bold">No School Today</h1>
        )
      }
    </section>
  </main>
</Layout>
